/* =========================
   PRETENDARD */

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* =========================
   GMARKET SANS */

@font-face {
  font-family: "Gmarket Sans";
  src: url("../fonts/GmarketSansMedium.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gmarket Sans";
  src: url("../fonts/GmarketSansBold.woff2") format("woff");
  font-weight: 700;
  font-style: normal;
}

/*  buttom compnents-이민호 작성 */
/* =========================
  Button Base Component
========================= */

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: none;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}

/* 크기 */
.btn-md {
  padding: 10px 20px;
  border-radius: 12px;
  font: var(--label-l);
}

.btn-tab {
  padding: 8px 24px;
  border-radius: 50px;
  font: var(--body-m-plus-500);
}

.btn-logo {
  padding: 40px;
  border-radius: 16px;
}

.btn-fixed {
  width: 75px;
  height: 75px;
  padding: 0;
  border-radius: 20px;
}

/* 색상 */
.btn-primary {
  background: var(--primary);
  color: var(--white);
}

.btn-white-primary {
  background: var(--white);
  color: var(--primary);
}

.btn-gray {
  background: var(--main-button);
  color: var(--title-black);
}

.btn-dark-gray {
  background: var(--button-container);
  color: var(--white);
}

/* 아이콘 포함 버튼 */
.btn-icon {
  gap: 8px;
}

.btn-icon .material-icons {
  font-size: 20px;
  line-height: 32px;
}

/* fixed 아이콘 */
.btn-fixed .material-icons {
  font-size: 48px;
  line-height: 100%;
}
